body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0c356a;
  overflow: hidden;
  display: flex;
  align-items: center;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  float: left;
  display: block;
  color: #fff0ce;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 270px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

#index-img {
  width: 1348px;
  height: 705px;
  filter: brightness(70%) saturate(70%);
}

#index-title {
  font-family: "Indie Flower", cursive;
  font-size: 3.5em;
  position: absolute;
  color: white;
  top: 35%;
  left: 30%;
}

.index-intro {
  font-size: 1.3em;
  color: #333;
  max-width: 500px;
  margin-left: 50px;
  padding: 50px;
}

#tut-p {
  width: 330px;
  font-size: 1.2em;
  left: 230px;
  bottom: 60px;
  position: relative;
}

.heading {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  border-bottom: #333;
  border-width: 2px;
}

.heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px; /* Adjust the thickness as needed */
  background-color: #000; /* Adjust the color as needed */
  position: absolute;
  bottom: 7px;
  left: 0;
}

#tut-desc {
  position: absolute;
  top: 20%;
  left: 20%;
}

#tut-img {
  width: 350px;
  height: auto;
  position: relative;
  left: 68%;
}

#philo-p {
  font-size: 1.2em;
  max-width: 330px;
  position: absolute;
  left: 40%;
  top: 150%;
}

#philo-img {
  width: 350px;
  height: auto;
  position: relative;
  left: 68%;
  bottom: 70px;
}

/*----------------------------------------------------------*/
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}
/*----------------------------------------------------------*/
footer {
  background-color: #0c356a;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 98.5%;
  overflow: hidden;
}
